---
const { title } = Astro.props;
---

<h2 class="mb-12 text-center text-sm font-medium text-gray-600">
  <span
    class="bg-gray-200 dark:bg-gray-700 dark:text-gray-100
   px-5 py-2 rounded-xl">
    {title}
  </span>
</h2>
