---
const testimonials = [
  {
    name: "John Doe",
    title: "Founder - xyz.com",
    content:
      "“Job well done! I am really impressed. He is very very good at what he does :) I would recommend Sagar and will rehire in the future for Frontend development.”",
  },
  {
    name: "John Doe",
    title: "Founder - abc.com",
    content:
      "“Great guy, highly recommended for any COMPLEX front-end development job! His skills are top-notch and he will be an amazing addition to any team.”",
  },
  {
    name: "John Doe",
    title: "Freelancer",
    content:
      "“Sagar was extremely easy and pleasant to work with and he truly cares about the project being a success. Sagar has a high level of knowledge and was able to work on my MERN stack application without any issues.”",
  },
];
---

{
  testimonials.map((testimonial) => (
    <div class="bg-white dark:bg-gray-800 rounded-xl shadow-md p-8 md:p-12 flex flex-col gap-6 w-full md:w-1/3">
      <span class="self-center size-16 p-3.5 rounded-full bg-gray-400 flex justify-center items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="icon icon-tabler icons-tabler-filled icon-tabler-user w-full dark:fill-gray-800">
          <>
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 2a5 5 0 1 1 -5 5l.005 -.217a5 5 0 0 1 4.995 -4.783z" />
            <path d="M14 14a5 5 0 0 1 5 5v1a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-1a5 5 0 0 1 5 -5h4z" />
          </>
        </svg>
      </span>
      <p>{testimonial.content}</p>
      <div class="text-center">
        <h3 class="text-xl font-bold mb-1">{testimonial.name}</h3>
        <h4 class="text-sm">{testimonial.title}</h4>
      </div>
    </div>
  ))
}
